<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">MyNotes - Logged in as <%= username %></a>
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
  
     
      
  
  
    </ul>
  </nav>
