<meta charset="UTF-8">
<title>MyNotes</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.css">
<link rel="icon" href="/notes.png">
<style>
    body {
        padding-top: 50px;
    }

    .login-form {
        width: 400px;
        margin: auto;
    }
</style>