# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
export SENDGRID_API_KEY='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'