<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header-index'); %>
</header>

<main>
    <div class="jumbotron">
        <h1 class="text-center">MyNotes</h1>
        <p class="text-center">Please login to begin (or register if you haven't already made an account).</p>
    </div>
</main>

</body>
</html>