<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header-register'); %>
    </header>

    <main>
        <div class="jumbotron">
            <div class="login-form">
                <p class="text-center">ERROR: this username is already taken.</p>
                <p class="text-center"><a href="/register">Return to register</a></p>
            </div>
        </div>
    </main>

</body>

</html>